.responsive-iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Proporción de aspecto 16:9 (dividir 9 por 16 y multiplicar por 100) */
  }
.responsive-iframe-container:hover {
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
    transition: 0.3s;
    transform: scale(1.05);
  }
  .responsive-iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }